/* -------------------- */
/* HERO                 */
/* -------------------- */
.hero {
  /* min-height: 100vh; */
  background: linear-gradient(180deg, #2b0d3b, #140818);
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  overflow: hidden;
}

.hero__cta {
  text-align: center;
  color: white;
  margin-bottom: 3rem;
}

.hero__cta h1 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.hero__cta p {
  font-size: 1.4rem;
  opacity: 0.85;
}

/* -------------------- */
/* MARQUEE STACK        */
/* -------------------- */
.marquee__stack {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 50%;
  position:relative;
}

/* viewport */
.marquee__wrapper {
  width: 100%;
  overflow: hidden;
}

/* moving track */
.marquee__track {
  display: flex;
  gap: 1rem;
  width: max-content;
  will-change: transform;
}
.marquee__stack::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 10rem;
  z-index: 1;
  background: linear-gradient(90deg, #2b0d3b, #a87fb6);
  opacity: 0.8;
  pointer-events: none;
}
/* -------------------- */
/* NEON BUTTONS         */
/* -------------------- */
.neon__btn {
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  border: none;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
  color: white;
  background: linear-gradient(90deg, #6b003f, #7f2aff);
  box-shadow:
    0 0 10px #6b003f,
    0 0 20px #7f2aff,
    0 0 45px rgba(127, 42, 255, 0.6);
  transition: transform 0.25s ease, color 0.25s ease;
}

.neon__btn:hover {
  transform: scale(1.08);
  color: #ff8ee5;
}

/* -------------------- */
/* RESPONSIVE           */
/* -------------------- */
@media (max-width: 768px) {
  .hero__cta h1 {
    font-size: 2.6rem;
  }

  .neon__btn {
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
  }
}