.product__info-wrapper{
    background-color: red;
    place-content: center;
}
.product__info{
    width:90%;
    margin:2rem 0;
    place-self: center;
    display: flex;
    gap: 2rem;
    height:150vh;
    .product__info-image--wrapper{
        position: relative;
        width:50%;
        height: 100%;
        border:1px solid black;
        .product__main-image--wrapper{
            width:100%;
            height: 35rem;
            position:sticky;
            top:50px;
            left:0;
            .product__main-image{
                width:100%;
                height: 35rem;
                position:relative;
                .product__sale-percentage{
                    position:absolute;
                    top:0;
                    left:0;
                    background-color: red;
                    color:white;
                    padding:0.2rem 0.5rem;
                    font-size:0.8rem;
                }
                img{
                    width:100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .product__gallery{
                display: flex;
                gap: 0.5rem;
                margin-top: 1rem;
                width:100%;
                height: 8rem;
                .product__gallery-image{
                    width:5rem;
                    height: 8rem;
                    object-fit: cover;
                    cursor: pointer;
                    margin:.5rem
                }
                img{
                    width:100%;
                    height: 100%;
                    object-fit: cover;
                    cursor: pointer;
                }
            }
        }
    }
    .product__info-details{
        width:50%;
        height:100%;
        display: flex;
        flex-direction: column;
        gap:1rem;
        padding: 0 1rem;
        .product__price{
            display: flex;
            justify-content: space-between;
            width:50%;

        }
    }
}