
.product__cards{
    width:90%;
    height:100%;
    display: grid;
    margin:1rem auto;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap:.8rem;
    .product__card{
        width:15rem;
        height:auto;
        font-size: clamp(.8rem, 1vw, 1.3rem);
        .product__card-image{
            width:100%;
            height:auto;
            border:0.85px solid rgb(218, 213, 213);
            border-radius: 20px;
            img{
                width:100%;
                height:100%;
                object-fit: contain;
                border-radius: 20px;
            }
        }
    }
}

